.forgot_password{
    padding: 10rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.forgot_password__text{
}

.forgot_password__form{
    display: flex;
    flex-direction: column;
}

.forgot_password__form_label{

}

.forgot_password__form_input{
    padding: $small-padding;
    font-size: 1.2rem;
    font-family: Bw Modelica Medium;
    justify-self: flex-end;
    color: $color-secondary-very-dark;
    border-radius: $border_radius_small;
    border-style: none;
    border: solid 1px $color-secondary-light;
    margin: 2rem 0;

    &:focus{
        border: solid 1px $color-secondary-very-dark;
    }
}

.forgot_password__button{

}
