$border_radius_small: 3px;


$color-primary: rgb(255, 255, 255);
$color-secondary-very-dark: rgb(15, 52, 100);
$color-secondary-dark: rgb(26, 91, 177);
$color-secondary: rgb(59, 104, 162);
$color-secondary-light: rgb(78, 115, 163);
$color-tertiary:  rgb(248, 248, 248);
$color-tertiary-dark: rgb(238, 238, 238);
$color-tertiary-darker:rgb(196, 196, 196);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-green: rgb(128, 182, 26);
$color-red: rgb(155, 4, 4);

$very-small-padding: .5rem 1rem;
$small-padding: 1rem 2rem;
$padding: 2rem 3rem;
$padding_large: 4rem 6rem;

$padding_top_bot_small: 1rem 0;
$padding_top_bot: 2rem 0;
$padding_top_bot_large: 3rem 0;

$padding_left_right_small: 0 1rem;
$padding_left_right: 0 2rem;
$padding_left_right_large: 0 3rem;

$margin-lr: 1rem 0;
